<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="sunmi-card-reader"
    version="0.0.2">
    <name>Sunmi Card Reader</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/PirataFrancis/sunmi-card-reader.git</repo>
    <issue>https://github.com/PirataFrancis/sunmi-card-reader/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/cardreader.js" name="CardReader">
        <runs/>
        <clobbers target="SunmiCardReader" />
      </js-module>
	  <js-module src="www/innerprinter.js" name="InnerPrinter">
		<clobbers target="sunmiInnerPrinter" />
	  </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SunmiCardReader">
          <param name="android-package" value="it.piratafrancis.SunmiCardReader" />
          <param name="onload" value="true" />
        </feature>
		<feature name="Printer">
			<param name="android-package" value="com.sunmi.innerprinter.Printer"/>
			<param name="onload" value="true" />
		  </feature>
      </config-file>
	  <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.sunmi.innerprinter.PrinterStatusReceiver" android:enabled="true">
        <intent-filter android:priority="1000">
          <action android:name="woyou.aidlservice.jiuv5.OUT_OF_PAPER_ACTION" />
          <action android:name="woyou.aidlservice.jiuv5.ERROR_ACTION" />
          <action android:name="woyou.aidlservice.jiuv5.NORMAL_ACTION" />
          <action android:name="woyou.aidlservice.jiuv5.COVER_OPEN_ACTION" />
          <action android:name="woyou.aidlservice.jiuv5.COVER_ERROR_ACTION" />
          <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_1" />
          <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_2" />
          <action android:name="woyou.aidlservice.jiuv5.OVER_HEATING_ACITON" />
          <action android:name="woyou.aidlservice.jiuv5.FIRMWARE_UPDATING_ACITON" />
        </intent-filter>
      </receiver>
      <service android:name="woyou.aidlservice.jiuiv5.IWoyouService">
        <intent-filter>
          <action android:name="woyou.aidlservice.jiuiv5.IWoyouService" />
        </intent-filter>
      </service>
    </config-file>
	  <framework src="src/android/sunmicardreader.gradle" custom="true" type="gradleReference" />
	   <resource-file src="libs/rel.aar" target="libs/rel.aar" />
      <source-file src="src/android/it/piratafrancis/SunmiCardReader.java" target-dir="app/src/main/java/it/piratafrancis/" />
	  <source-file src="src/android/com/sunmi/innerprinter/Printer.java" target-dir="app/src/main/java/com/sunmi/innerprinter/"/>
		<source-file src="src/android/com/sunmi/innerprinter/PrinterStatusReceiver.java" target-dir="app/src/main/java/com/sunmi/innerprinter/"/>
		<source-file src="src/android/com/sunmi/utils/BitmapUtils.java" target-dir="app/src/main/java/com/sunmi/utils/"/>
		<source-file src="src/android/com/sunmi/utils/ThreadPoolManager.java" target-dir="app/src/main/java/com/sunmi/utils/"/>
		<source-file src="src/android/woyou/aidlservice/jiuiv5/IWoyouService.aidl" target-dir="app/src/main/aidl/woyou/aidlservice/jiuiv5/"/>
		<source-file src="src/android/woyou/aidlservice/jiuiv5/ICallback.aidl" target-dir="app/src/main/aidl/woyou/aidlservice/jiuiv5/"/>
    </platform>
</plugin>
